.toolTip {
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2;
}       

.tableGridTask, .tableGridAssignment {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;  
    color: #666666;
    border-top: solid 1px #999999; 
    border-bottom: solid 1px #999999;
}      

.tableGridTask thead tr {
    height: 35px;
}

.tableGridTask thead tr td, .tableGridAssignment thead tr td {
    background-color: #ECECED;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #DBDBDB;
    color: #666666;	
}

.tableGridTask thead tr td {
    padding: 0px 5px;
    white-space: nowrap;
}

.tableGridAssignment thead tr td {
    padding: 5px;
}

.tableGridAssignment thead tr td:last-child, .tableGridAssignment thead tr td.lastChild {
    border-right: solid 1px #DBDBDB;
}

.tableGridTask tbody tr {
    height: 21px;
}  
    
.tableGridTask tbody tr td, .tableGridAssignment tbody tr td {
    border-left: solid 1px #DBDBDB;
    border-bottom: solid 1px #DBDBDB;            
}

.tableGridTask tbody tr td {
    padding: 0px 5px;
    white-space: nowrap
}

.tableGridAssignment tbody tr td {
    padding: 4px 5px;
}

.tableGrid tbody tr:last-child td, .tableGrid tbody tr.lastChild td {
    border-bottom: solid 1px #999999;
}

.tableGridAssignment tbody tr td:last-child, .tableGridAssignment tbody tr td.lastChild {
    border-right: solid 1px #DBDBDB;
}
