.toolbaritem_off, .toolbaritem_on, .toolbaritem_selected {
    width: 21px;
    height: 21px;                 
}

.toolbaritem_off {
    border: solid 1px transparent !important;
    border: solid 1px #ECECED;
}

.toolbaritem_on {
    border: solid 1px #3169C6;
    background-color: #C6D3EF;
}

.toolbaritem_selected {
    border: solid 1px #666666;
    background-color: lightyellow;
}

.toolbaritem_dropdown {
    border: solid 1px #626262;
    background: #FFFFFF; 
    border-bottom-color: #FFFFFF;
}

.toolbar_dropdown {
    background: #FFFFFF;    
    border: 1px solid #626262;
    white-space: nowrap;
    position: absolute;
    text-align: left;
    padding: 2px;
    z-index: 100;
}
