<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
 
    <add name="SynergyModelContainer" connectionString="metadata=res://*/SynergyModel.csdl|res://*/SynergyModel.ssdl|res://*/SynergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sg2nwgdshsql003-floater.shr.prod.sin2.secureserver.net;Initial Catalog=synergydbadmin;Persist Security Info=True;User ID=synergydbadmin;Password=DBadmin123;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    
    
    <add name="MainApp.Properties.Settings.LeaveDBConnectionString"
      connectionString="Data Source=|DataDirectory|\LeaveDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    
    
    <add name="MainApp.Properties.Settings.EmployeeDBConnectionString"
      connectionString="Data Source=|DataDirectory|\EmployeeDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />

    <add name="LeaveDBEntities" connectionString="metadata=res://*/LeaveModel.csdl|res://*/LeaveModel.ssdl|res://*/LeaveModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Model\LeaveDB.sdf&quot;"
       providerName="System.Data.EntityClient" />
    <add name="EmployeeDBEntities" connectionString="metadata=res://*/EmployeeModel.csdl|res://*/EmployeeModel.ssdl|res://*/EmployeeModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Model\EmployeeDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>




  <appSettings>

    <add key="LeaveSystem" value="External" />
    <add key="EmployeeSystem" value="External" />
  </appSettings>
</configuration>