<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SynergyRMSEntities" connectionString="metadata=res://*/SynergyModel.csdl|res://*/SynergyModel.ssdl|res://*/SynergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HOME-C1EEF046CE\SQLEXPRESS;Initial Catalog=SynergyRMS;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SynergyRMSEntities1" connectionString="metadata=res://*/SynergyModel.csdl|res://*/SynergyModel.ssdl|res://*/SynergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HOME-C1EEF046CE\SQLEXPRESS;Initial Catalog=SynergyRMS;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SynergyRMSEntities" connectionString="metadata=res://*/SynergyModel.csdl|res://*/SynergyModel.ssdl|res://*/SynergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AMALKA-PC\SQLEXPRESS;Initial Catalog=SynergyRMS;Persist Security Info=True;User ID=aj;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>