/**
 * Skin override CSS for Spook.
 */
/*__________________________________________________________  page overrides  */

/*_________________________________________________________  general classes  */

/*____________________________________________________________________  skin  */

/*___________________________________________________________  wrapper, mask  */

/*_______________________________________________________  no fixed position  */

/*_____________________________________________________________________  box  */
.wideWhite #SpookBox {
  padding-top: 25px; /* not less than tbar height */
}

/*____________________________________________________________________  body  */
.wideWhite #SpookBody {
	border-color: #ffffff;
  border-width: 10px;
}

/*_________________________________________________________________  loading  */
.wideWhite #SpookBody {
  background-color: #eeeeee; /* should match loading image background color */
}
.wideWhite #SpookLoad {
  background-color: #cccccc; /* should match loading image background color */
}
.wideWhite #SpookLoad a {
	color: #808080;
	background-image: url(resources/loading.gif);
}

/*_______________________________________________________  top & bottom bars  */
.wideWhite #SpookTbar,
.wideWhite #SpookBbar {
	background-color: #ffffff;
}
.wideWhite #SpookTbar {
	height: 25px; /* don't exceed #SpookBox top padding */
}
.wideWhite #SpookTbarInner,
.wideWhite #SpookBbarInner {
	padding: 0 10px;
}

/*___________________________________________________________________  title  */
.wideWhite #SpookTitle {
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  color: #888888;
	font-size: 16px;
}

/*_____________________________________________________________________  nav  */
.wideWhite #SpookClick-next {
  background-image: url(resources/next.png);
}
.wideWhite #SpookClick-previous {
  background-image: url(resources/previous.png);
}
.wideWhite #SpookClick-play {
  background-image: url(resources/play.png);
}
.wideWhite #SpookClick-pause {
  background-image: url(resources/pause.png);
}
.wideWhite #SpookClick-first {
  background-image: url(resources/first.png);
}
.wideWhite #SpookClick-last {
  background-image: url(resources/last.png);
}
.wideWhite #SpookClick-browse {
  background-image: url(resources/browse.png);
}
.wideWhite .SpookClickNav.doclink {
	width: auto;
	display: block;
	border: 1px solid #808080;
	font-size: 12px;
	padding: 1px 6px;
}
.wideWhite a.SpookClickNav.doclink:hover {
	color: #ffffff;
	background-color: #9999ff;
}
.wideWhite a.SpookClickNav.doclinkCurrent,
.wideWhite a.SpookClickNav.doclinkCurrent:link,
.wideWhite a.SpookClickNav.doclinkCurrent:visited,
.wideWhite a.SpookClickNav.doclinkCurrent:hover,
.wideWhite a.SpookClickNav.doclinkCurrent:active {
	cursor: default;
	color: #808080;
	background-color: #ffffff;
}
.wideWhite #SpookTbar .SpookClickNav,
.wideWhite #SpookTbar .SpookNavSpacer {
	margin-top: 4px;
	margin-left: 6px;
}
.wideWhite #SpookTbar #SpookClick-close {
  right: -5px;
	margin-left: 1px;
}

/*_________________________________________________________________  counter  */
.wideWhite #SpookCounterInner a,
.wideWhite #SpookCounterInner a:link,
.wideWhite #SpookCounterInner a:visited,
.wideWhite #SpookCounterInner a:hover,
.wideWhite #SpookCounterInner a:active {
  color: #808080;
	font-size: 10px;
}
.wideWhite #SpookCounterInner a.SpookCounterCurrent {
  color: #333333;
	font-weight: bold;
  text-decoration: underline;
}

/*_________________________________________________________________  caption  */

/*________________________________________________________________  messages  */

/*_________________________________________________________________  content  */

/*_________________________________________________________  implode closure  */
.wideWhite.SpookImplode #SpookBody {
	border-width: 1px;
}

/*_____________________________________________________________  IE6 fix pngs */

/*___________________________________________________________________  debug  */

