<?xml version="1.0" encoding="utf-8"?>
<configuration>


<connectionStrings><add name="LeaveDBEntities" connectionString="metadata=res://*/Model.LeaveDB.csdl|res://*/Model.LeaveDB.ssdl|res://*/Model.LeaveDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Model\LeaveDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>