<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mail_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mail_Manager.Properties.Settings>
            <setting name="adminMailAddress" serializeAs="String">
                <value>rms.synergy@gmail.com</value>
            </setting>
            <setting name="adminMailPassword" serializeAs="String">
                <value>Admin@12345</value>
            </setting>
            <setting name="adminMailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="adminMailPort" serializeAs="String">
                <value>587</value>
            </setting>
        </Mail_Manager.Properties.Settings>
    </userSettings>
</configuration>